[ssh]
ssh_user = username
ssh_hostname = hostname

[update]
upgrade_command = kitty -o hide_window_decorations=no /bin/sh -c apt-dater
unlock_agent_command = kitty -o hide_window_decorations=no /bin/sh -c ssh-add
update_interval = 120

# ssh_agent_socket = /run/user/1000/ssh-agent.socket
